- content_for :h1 do
  Login
- if flash[:error]
  %p.error= flash[:error]
- if flash[:notice]
  %p.notice= flash[:notice]
- if flash[:info]
  %p.info= flash[:info]
- form_for resource_name, resource, :url => session_path(resource_name) do |f|
  %ul.form
    %li
      %label== Username
      = text_field_tag :username, params[:username], :size => 30
    %li
      %label== Password
      = password_field_tag :password, nil, :size => 15
  %ul.horiz
    %li= submit_tag 'Login', :class => 'btn'

